* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header {
  color: black;
  padding: 0px 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #533d5d;
  background-image: url(../background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}

.content-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

header .content-wrapper {
  height: 100vh;
}

header h1 {
  margin-top: 45vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

.button {
  border-radius: 5px;
  border: black 1px solid;
  color: inherit;
  padding: 5px;
  margin-top: 20px;
  display: inline-block;
}

div {
  padding: 20px;
}

.section-1 {
  padding: 20px;
  background-color: #533d5d;
  color: white;
}

.section-2 {
  padding: 20px;
  background-color: white;
}

.section-3 {
  font-size: 0px;
}

.section-3 div {
  width: calc(100% / 3);
  display: inline-block;
  font-size: initial;
}

.div-1 {
  background-color: #533d5d;
  color: white;
}

.div-2 {
  background-color: white;
}

.div-3 {
  background-color: #533d5d;
  color: white;
}
